
data/Hasil Akhir/Curah Hujan
data/Hasil Akhir/Data dari Internet
data/Hasil Akhir/Data Hack4Resilient Jkt/03 Rate of built vs non-built development
data/Hasil Akhir/Data Hack4Resilient Jkt/07 Impervious Surface Areas
data/Hasil Akhir/Data Hack4Resilient Jkt/08 Drainage system data
data/Hasil Akhir/Data Hack4Resilient Jkt/09 Water pumps locations
data/Hasil Akhir/Data Hack4Resilient Jkt/10 Topography
data/Hasil Akhir/Data Hack4Resilient Jkt/11 Distance to rivers
data/Hasil Akhir/Data Hack4Resilient Jkt/13 Rainfall
data/Hasil Akhir/Data Hack4Resilient Jkt/12 Land subsidence
data/Hasil Akhir/Data Hack4Resilient Jkt/14 Land surface temperature
data/Hasil Akhir/Data Hack4Resilient Jkt/16. Geology DKI Jakarta


