.trivia {
    padding-right :20 padding;
    margin:0; 
    list-style: none;
    display :block;
    gap : 2rem;
}

.trivia li{
    font-size: 1.3rem;
    border-radius : 7px;
    gap : 10px;
    height : 60px;
    background-color :aqua;
}